h1,h2,h3,h4,body, button, span{
    margin:0;
    padding: 0;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    
}

/* Sidebar */

.whiteText, .taskName, span{
    font-size: 1em;
    color:  rgb(218, 233, 233);
}
    
.greyText, .taskPriority, .taskDate{
    font-size: 0.9em;
    color:  rgb(91, 91, 91);
    min-width: 100px;
}

#sidebar{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    grid-row: 1;
    background-color: #000;;
}

#profileWidget{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 25px;
    margin-bottom: 30px;
    padding: 0px 20px;
}

#profileImg{
    grid-row: 1/3;
    width: 50px;
}

#myListDiv {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px ;
    padding: 0px 10px;
    padding-right: 20px;
    
}

#mylists{
    padding: 0px 10px;
}

div.tab{
    padding: 5px 20px;
}

.tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    gap: 5px;
    padding: 5px 0px;
    padding-right: 20px;
}

.tab:hover{
    background-color: #252525;
}
svg{
    cursor: pointer;
    width: 15px;
    padding: 0;
    margin: 0;

}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 1;
}

#addNewList{
    display: flex;
}

/* New List Modal */

dialog{
    background-color: hsla(0,0%,100%,.05);
    top:-20%;
    border-color: transparent;
    border-radius: 13px;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 90%);

}

dialog::backdrop{
    background: rgba(0,0,0,05.);    
    backdrop-filter: blur(5px);  
}

#listModal{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 400px;
}

input{
    height: 40px;
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    color: white;
}

input:focus{
    outline: none;
    border-color: transparent;
}

#listModal>#createList{
    color: white;
    padding: 5px 15px;
    background-color: rgb(36, 106, 211);
    border-radius: 15px;
    grid-column: 2/3;
    grid-row:3/4

}

#listModal>.svg{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 12px;
    justify-self: end;
}



/* Content Div */

#main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    background-color: #1c1c1c;
}

#header{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 50px;
    display: flex;
    align-content: center;
}

.headerTitle{
    color:  rgb(218, 233, 233);
    padding: 3px 100px 5px 15px;
    
}

#content{
    flex: 1;
    display: flex;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 40%);
}


#taskBoard{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.90);
    gap:20px;
    padding: 40px;
    overflow-y: auto; 
          
}

#addTaskButton{
    display: flex;
    align-content: center;
    color: white;
    background-color: #0083ff;
    border-radius: 15px;
    padding: 7px 20px;
    width: fit-content;
    gap: 10px;
    transition: all 0.3s ease-in-out;

}

#addTaskButton:hover{
    background-color: #006aff;

}

#addTaskButton>div{
    height: 17px;
    margin: auto;
}

#addTaskButton>div>svg{
    width: 17px;
}



/* Task card */

.taskCard{
    display: grid;
    grid-template-columns: 50px 2fr 5fr;
    grid-row: 1fr 1fr 1fr;
    background-color: hsla(0,0%,100%,.05);
    border: none;
    flex: 1;
    max-height: 50px ;
    padding: 20px;
    border-radius: 5px;
}

.toggleCheck{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #252525;
    border: 1px solid #a2a2a2;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.toggleCheck>svg{
    display: none;
}

.checked{
    background-color: #424242;
    border-color: transparent;
    
    
}

.checked>svg{
    display: flex;
}

.completedTask{
    background-color: transparent;
    border: 1px solid #424242;
}

.taskName{
    grid-column: 2/4;
    grid-row: 1/2;

}

.taskPriority{
    grid-column: 2/3;
    grid-row: 2/3;
}

.taskDate{
    grid-column: 2/3;
    grid-row: 3/4;
}

.taskActionButtons{
    grid-column: 3/4;
    grid-row: 1/4;
    align-self: center;
    justify-self: end;
    display: flex;
    gap: 5px;
}

.taskActionLogo{
    cursor: pointer;
}

/* New/update Task Modal*/


#newTaskModal>form, #updateTaskModal>form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 25px 1fr 1fr 1fr 1fr;
    padding: 20px;
    width: 400px
}

form>.svg{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

#taskNameInput{
    grid-column: 1/3;
    grid-row: 2/3;
}

#taskDateInput{
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 0.9em;
    justify-self: flex-start;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#prioritySection{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-self: start;
    display: flex;
    align-content: center;
    gap: 5px;
    align-self: center;
}

.radioButton{
    height: fit-content;
    font-size: 12px;
    width: fit-content;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

span{
    margin: auto;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    padding: 3px 7px;
    transition: all 0.3s ease-in-out;
}

input[type="radio"]{
    display: none;
}

.radioButton:hover{
    border-color: rgb(36, 106, 211);
}

input[type="radio"]:hover + span{
    color: rgb(36, 106, 211);
    border-color: rgb(36, 106, 211);

}

input[type="radio"]:checked:hover + span{
    color: white;
}

input[type="radio"]:checked + span{
    background-color: rgb(36, 106, 211);
    border-color: transparent;
}




#taskListInput{
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 0.9em;
}

#createTask, #updateTask{
    grid-column: 2/3;
    grid-row: 5/6;
    color: white;
    padding: 3px 10px;
    background-color: rgb(36, 106, 211);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    align-self: center;
    justify-self: flex-end;
    transition: all 0.3s ease-in-out;
}
#createTask:hover, #updateTask:hover{
    background-color: #006aff;
}


