*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    
}


.whiteText{
    font-size: 1em;
    color:  rgb(218, 233, 233);
}
    
.greyText{
    font-size: 0.9em;
    color:  rgb(91, 91, 91);
    min-width: 100px;

}

#sidebar{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-row: 1;
    background-color: rgb(26, 4, 45);
}

#profileWidget{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 25px;
}

#profileImg{
    grid-row: 1/3;
    width: 50px;
}

#myListDiv {
    display: flex;
    gap: 10px;
}

.tab{
    display: flex;
    justify-content: space-between;
    
}
div>svg{
    width: 25px;
    cursor: pointer;
}

button{
    background-color: transparent;
    border: none;
}

